

<aside class="hidden md:block bg-cover z-10 bg-right h-screen w-1/5 fixed right-0" style="background-image: url('../../../assets/img_market.png');"></aside>
<aside class="hidden md:block bg-cover z-10 bg-right h-screen w-1/5 fixed right-0" style="background-image: url('../../../assets/img_market.png');"></aside>

<app-header></app-header>
<app-header></app-header>

<div class="md:mr-36 flex flex-col xl:flex-row xl:gap-28">

  <!-- MENU -->

  <div class="overflow-y-scroll xl:h-screen xl:w-2/4">

    <div class="flex flex-col items-center justify-center gap-2 my-2">
      <h1 class="text-center font-bold text-2xl sm:text-4xl">Menu</h1>
      <hr class="w-3/6 border-black">
    </div>

    <div *ngFor="let item of boxes; let i index" class="flex flex-col justify-center items-center my-4">
      <img src="{{item.img}}" alt="{{item.nom}}" class="w-52 h-auto">
      <p class="sm:text-lg">{{ item.nom }}</p>
      <span class="text-center w-11/12 md:w-9/12 text-gray-500">
        <span>•</span>
        <span *ngFor="let aliments of item.id_aliments" class="text-sm sm:text-base">
          {{ aliments.nom }} •
        </span>
      </span>

      <div class="flex flex-row gap-4 my-1">
        <button (click)="incrementAndDisplay(item.id)" class="px-2 bg-orange-brozer">+</button>
        <span>{{ boxQuantities[item.id] ? boxQuantities[item.id] : 0 }}</span>
        <button (click)="decrementAndDisplay(item.id)" class="px-2 bg-orange-brozer">-</button>
<div class="md:mr-36 flex flex-col xl:flex-row xl:gap-28">

  <!-- MENU -->

  <div class="overflow-y-scroll xl:h-screen xl:w-2/4">

    <div class="flex flex-col items-center justify-center gap-2 my-2">
      <h1 class="text-center font-bold text-2xl sm:text-4xl">Menu</h1>
      <hr class="w-3/6 border-black">
    </div>

    <div *ngFor="let item of boxes; let i index" class="flex flex-col justify-center items-center my-4">
      <img src="{{item.img}}" alt="{{item.nom}}" class="w-52 h-auto">
      <p class="sm:text-lg">{{ item.nom }}</p>
      <span class="text-center w-11/12 md:w-9/12 text-gray-500">
        <span>•</span>
        <span *ngFor="let aliments of item.id_aliments" class="text-sm sm:text-base">
          {{ aliments.nom }} •
        </span>
      </span>

      <div class="flex flex-row gap-4 my-1">
        <button (click)="incrementAndDisplay(item.id)" class="px-2 bg-orange-brozer">+</button>
        <span>{{ boxQuantities[item.id] ? boxQuantities[item.id] : 0 }}</span>
        <button (click)="decrementAndDisplay(item.id)" class="px-2 bg-orange-brozer">-</button>
      </div>
      <span class="text-lg font-bold">{{ item.prix.toFixed(2) }}€</span>
    </div>

  </div>

  <!-- PANIER -->

  <div>

    <div class="flex flex-col items-center justify-center gap-2 my-2" id="panier">
      <h1 class="text-center font-bold text-2xl sm:text-4xl">Panier</h1>
      <hr class="w-3/6 border-black">
    </div>

    <div class="flex flex-col items-center justify-center">
      <div id="boxName" class="mb-2 flex flex-col items-center justify-center md:text-lg"></div>
      <div class="flex font-bold mb-2 md:text-lg xl:text-xl" id="prixTotal"></div>
    
      <div class="flex gap-2 items-center justify-center">
        <button class="bg-red-500 gap-2 px-5 py-3 hover:bg-red-800 text-white font-bold duration-300 md:text-lg" (click)="cancelOrders()">Annuler</button>
        
        <button class="flex flex-row gap-2 items-center justify-center bg-orange-brozer hover:bg-orange-800 duration-300 text-white font-bold px-5 py-3 md:text-lg" type="button" routeurLink="recap" (click)="concatenateOrders(this.orders)">
          Commander
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-5 h-5">
            <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3"></path>
          </svg>
        </button>
      </div>

    </div>

  </div>
</div>