





<aside class="hidden md:block" style="background-image: url('../../../assets/img_market.png'); background-size: cover; z-index: 3; background-position: right; height: 100vh; width: 20%; position: fixed; right: 0;"></aside>

<div  >
  <app-header></app-header>


</div>
<div class="flex justify-center items-center space-x-20" style="
    margin-top: 12%;
">
  <div class="w-1/2 mt-20 d-flex " style="overflow-y: scroll; max-height: 600px; max-width: 900px;">
    <div *ngFor="let item of boxes; let i = index" class="mb-4">
      <div class="font-bold text-2xl">
        <img src="{{item.img}}" alt="{{item.nom}}" width="300" height="300">{{ item.nom }} {{ item.prix.toFixed(2) }}€
      </div>
      <div class="text-xl">Compositions</div>
      <ul>
        <li *ngFor="let aliments of item.id_aliments">
          {{aliments.quantite}}x     {{aliments.nom }}
        </li>
      </ul>
      <div>
        <button (click)="incrementAndDisplay(item.id)" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
          +
        </button>
        <button (click)="decrementAndDisplay(item.id)" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">
          -
        </button>

      </div>
    </div>
  </div>
  <div class="w-1/2">
    <div id="boxName" class="w-1/2"></div>
    <div style="font-weight: bold;"id="prixTotal"></div>
    <button (click)="concatenateOrders(this.orders)">commande</button>
  </div>
</div>

