node_modules/
# Dossiers
node_modules/
dist/
tmp/
out-tsc/

# Fichiers
*.log
*.pid
*.seed
*.pid.lock
*.log.*
yarn.lock
package-lock.json
npm-debug.log
ng-bullet-report.xml
tsconfig.tsbuildinfo

.angular/
.angular/cache/
node_modules/.cache/
.angular/cache/16.2.12/angular-webpack/b21d3c0a540e38f38af363516a93eddb4e5fdfb5/2.pack
.DS_Store
.angular/cache/16.2.12/angular-webpack/b21d3c0a540e38f38af363516a93eddb4e5fdfb5/3.pack
