
<div id="about" class="flex flex-col lg:flex-row justify-between items-center bg-black text-white z-50 relative">
    <div class="text-justify mx-4 w-full mb-8 md:mb-0 sm:mx-4 lg:w-6/12">
        <h1 class="text-5xl mt-9 md:text-7xl sm:text-5xl mb-6 md:mb-12 text-[#EC6135] px-9 justify-self-start">01 | ABOUT</h1>
        <p class="mb-6 px-9 lg:w-full">
            Bienvenue dans l'univers enchanteur de Zushi, un oasis de saveurs japonaises niché au cœur de la vibrante ville de Paris.
            Notre établissement est bien plus qu'un simple restaurant ; c'est un hommage vibrant à la riche tradition culinaire du Japon,
            où chaque plat est une fusion magique de fraîcheur, de précision et de passion. En plein centre de la capitale française,
            Zushi offre un refuge gastronomique où les convives peuvent s'immerger dans une expérience sensorielle inoubliable.
        </p>
        <p class="mb-6 px-9 lg:w-full">
            Chez Zushi, nous avons à cœur de présenter une palette diversifiée de délices culinaires japonais, allant des classiques
            intemporels aux créations innovantes. Nos chefs talentueux, imprégnés de savoir-faire ancestral, utilisent uniquement les
            ingrédients les plus frais et les plus authentiques pour concocter des sushis, sashimis et makis qui raviront les palais les plus exigeants.
            Chaque bouchée est une symphonie de saveurs, un équilibre parfait entre tradition et modernité, offrant une expérience gustative qui
            transcende les frontières culturelles.
        </p>
        <p class="mb-6 px-9 md:w-full lg:w-full">
            Que vous soyez un amateur de cuisine japonaise chevronné ou un néophyte curieux, notre équipe
            dévouée chez Zushi est là pour vous guider à travers un voyage culinaire captivant. Plongez dans l'atmosphère chaleureuse et élégante
            de notre établissement, où le service attentif et l'ambiance raffinée complètent parfaitement l'excellence de notre cuisine.
            Que ce soit pour une soirée entre amis, un dîner romantique ou simplement pour satisfaire
            une envie de délices nippons, Zushi vous invite à savourer chaque instant et à créer des souvenirs gastronomiques inoubliables à Paris.
        </p>
    </div>
    <div class="mx-4 my-12 w-full lg:w-6/12 px-9">
       <img src="assets/about.png" alt="image 1" class="max-w-full my-1 mx-auto h-auto w-50">
    </div>
</div>
