
<div id="food" class="flex flex-col lg:flex-row justify-between items-center bg-white text-black z-50 relative">

    <div class="mx-4  w-full lg:w-6/12 ">
        <h1 class="text-5xl mt-9 md:text-7xl sm:text-5xl mb-6 md:mb-12 lg:mt-0 xl:mt-20 text-[#EC6135] px-9 justify-self-start">02 | FOODS</h1>
        <img src="assets/food.png" alt="image 2" class="max-w-full my-1 mx-auto h-auto w-50 px-9">
     </div>
    <div class="text-justify mt-4 mx-4 w-full mb-4 md:mb-0 lg:mt-28 md:mb-28 sm:mx-4 lg:w-6/12 xl:mt-80">
        
        <p class="mb-6 px-9 md:w-full lg:w-full">
            Chez Zushi, nous avons conçu une expérience de commande en box sushi qui allie praticité, fraîcheur et variété pour satisfaire tous
             les goûts. Notre concept innovant vous permet de composer votre propre sélection personnalisée de sushis, sashimis et makis, 
             selon vos préférences et vos envies du moment.
        </p>
        <p class="mb-6 px-9 md:w-full lg:w-full">
            Comment ça fonctionne ? C'est simple ! Vous pouvez passer votre commande en ligne via notre site web convivial ou en personne dans 
            notre établissement. Une fois que vous avez sélectionné la taille de votre box sushi, vous avez la possibilité de choisir parmi une 
            gamme de délices japonais, allant des classiques traditionnels aux créations uniques de notre chef.
        </p>
        <p class="mb-6 px-9 md:w-full lg:w-full">
            Nos box sushi sont préparées avec le plus grand soin et une attention méticuleuse à la qualité des ingrédients. Chaque pièce est 
            fraîchement préparée à la commande, garantissant ainsi une expérience culinaire exceptionnelle à chaque bouchée. Que vous optiez 
            pour une sélection prédéfinie ou que vous préfériez composer votre propre assortiment, notre équipe est là pour vous guider et 
            vous offrir une expérience sur mesure qui dépasse vos attentes.
        </p>
        <p class="mb-6 px-9 md:w-full lg:w-full">
            Chez Zushi, nous sommes fiers de mettre à votre disposition un service de box sushi qui allie commodité, qualité et authenticité. 
            Que ce soit pour une pause déjeuner rapide, un repas à emporter ou une soirée entre amis à la maison, nos box sushi sont la solution 
            parfaite pour savourer la gastronomie japonaise où que vous soyez. Commandez dès maintenant et laissez-vous séduire par l'expérience Zushi.
        </p>
    </div>
    
</div>

