<aside
  class="hidden md:block"
  style="
    background-image: url(&quot;../../../assets/img_market.png&quot;);
    background-size: cover;
    z-index: 3;
    background-position: right;
    height: 100vh;
    width: 20%;
    position: fixed;
    right: 0;
  "
></aside>
<app-header></app-header>
<div class="flex flex-col justify-center items-center  md:p-6 md:items-start md:justify-start">
  <h1 class="text-xl lg:text-4xl">Récapitulatif de commande</h1>
  <div class="border-t border-gray-700 my-4">
    <div *ngFor="let date of commandeArray" class="mt-2 md:flex md:flex-col md:justify-start md:items-start   
    ">
      <p class="text-center lg:text-xl xl:text-2xl">Date de la commande:<br /></p>
      <p class="text-center font-bold lg:text-md xl:text-xl">{{ date.date | date  }}</p>

      <div class="md:flex md:flex-col md:justify-start md:items-start lg:mt-5">
        <h3 class="text-center font-bold lg:text-xl xl:text-2xl">Boxs:</h3>
        <ul class="text-center md:text-left lg:mt-3 lg:text-xl">
          <li *ngFor="let box of date.idBoxs" class="lg:mt-1 xl:text-2xl">
           1 x {{ box.nom }} {{ box.prix }}€<br />
          </li>
        </ul>
      </div>

      <div class="p-4 md:p-0 md: mt-[50%] ">

      <button routerLink="/board" (click)="PasseCommande()" class=" p-4 bg-[#EC6135] text-white flex flex-row hover:bg-green-700">
        <div class="flex flex-col x-space-2"><div class="text-left text-md xl:text-xl">Valider la commande </div><div class="text-left text-xl xl:text-2xl">{{ date.prixTotal.toFixed(2) }} € TTC</div>  </div><svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M20.4378 35.9585L35.7068 19.2166M35.7068 19.2166L19.7013 19.953M35.7068 19.2166L36.4433 35.2221" stroke="white" stroke-width="3.23702" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          
      </button>
    </div>
    </div>
  </div>
</div>
