<app-header-static></app-header-static>


<div class="text-center text-xl font-bold md:text-2xl lg:text-4xl">

    <h1>Politiques de confidentialité</h1>
</div>
<div class="flex flex-col p-4 mt-5 mb-5">
<p class="text-justify">
    <div class="container mx-auto p-4">
        <h1 class="text-3xl font-semibold mb-4">Politique de confidentialité de Zushi</h1>
        <p class="mb-4">Dernière mise à jour : <span class="font-semibold">Le 19 mars 2024</span></p>

        <p class="mb-4">Chez Zushi, nous accordons une grande importance à la confidentialité de nos utilisateurs. Cette politique de confidentialité explique comment nous recueillons, utilisons, divulguons et protégeons vos informations personnelles lorsque vous utilisez notre site web Zushi (le "Service").</p>

        <p class="mb-4">Nous recueillons plusieurs types d'informations à différentes fins afin de fournir et d'améliorer notre service pour vous. En utilisant le Service, vous consentez à la collecte et à l'utilisation d'informations conformément à cette politique.</p>

        <h2 class="text-xl font-semibold mb-2">Informations recueillies</h2>
        <p class="mb-4">Nous pouvons recueillir différents types d'informations à diverses fins pour vous fournir un service et améliorer votre expérience utilisateur.</p>

        <h3 class="text-lg font-semibold mb-2">Types de données recueillies</h3>
        <ul class="list-disc list-inside mb-4">
            <li>Adresse e-mail</li>
            <li>Prénom et nom</li>
            <li>Numéro de téléphone</li>
            <li>Adresse postale</li>
            <li>Informations de paiement</li>
        </ul>

        <h2 class="text-xl font-semibold mb-2">Utilisation des données</h2>
        <p class="mb-4">Zushi utilise les données collectées à diverses fins :</p>
        <ul class="list-disc list-inside mb-4">
            <li>Pour fournir et maintenir notre Service</li>
            <li>Pour vous informer des changements apportés à notre Service</li>
            <li>Pour vous permettre de participer à des fonctionnalités interactives de notre Service lorsque vous choisissez de le faire</li>
            <li>Pour fournir un service client et un support</li>
            <li>Pour recueillir des analyses ou des informations précieuses afin que nous puissions améliorer notre Service</li>
            <li>Pour surveiller l'utilisation de notre Service</li>
            <li>Pour détecter, prévenir et résoudre les problèmes techniques</li>
        </ul>

        <h2 class="text-xl font-semibold mb-2">Divulgation de données</h2>
        <p class="mb-4">Zushi peut divulguer vos Données personnelles dans les circonstances suivantes :</p>
        <ul class="list-disc list-inside mb-4">
            <li>Si nécessaire pour se conformer à une obligation légale</li>
            <li>Pour protéger et défendre les droits ou les biens de Zushi</li>
            <li>Pour prévenir ou enquêter sur d'éventuels actes répréhensibles liés au Service</li>
            <li>Pour protéger la sécurité personnelle des utilisateurs du Service ou du public</li>
            <li>Pour protéger contre la responsabilité légale</li>
        </ul>

        <h2 class="text-xl font-semibold mb-2">Sécurité des données</h2>
        <p class="mb-4">La sécurité de vos données est importante pour nous, mais rappelez-vous qu'aucune méthode de transmission sur Internet ou méthode de stockage électronique n'est sécurisée à 100 %. Bien que nous nous efforcions d'utiliser des moyens commercialement acceptables pour protéger vos Données personnelles, nous ne pouvons garantir leur sécurité absolue.</p>

        <h2 class="text-xl font-semibold mb-2">Modifications de cette politique de confidentialité</h2>
        <p class="mb-4">Nous nous réservons le droit de mettre à jour ou de modifier notre politique de confidentialité à tout moment et vous devriez consulter cette politique de façon périodique. Votre utilisation continue du Service après la publication de toute modification de la politique de confidentialité sur cette page constitue votre reconnaissance de ces modifications et votre consentement à les respecter.</p>

        <h2 class="text-xl font-semibold mb-2">Nous contacter</h2>
        <p class="mb-4">Si vous avez des questions concernant cette politique de confidentialité, vous pouvez nous contacter :</p>
        <ul class="list-disc list-inside mb-4">
            <li>Par email : <span class="font-semibold">alexandre.guedes@edu.univ-eiffel.fr</span></li>
            <li>Par courrier : <span class="font-semibold">17 rue du sushi, 75012, Paris</span></li>
        </ul>

        <p class="mb-4">En utilisant notre Service, vous consentez à notre politique de confidentialité.</p>
    </div>



</div>
<app-footer></app-footer>


