<app-header-static></app-header-static>

<div class="text-center text-xl font-bold md:text-2xl lg:text-4xl">

    <h1>Conditions RGPD</h1>
</div>
<div class="flex flex-col p-4 mt-5 mb-5">
<p class="text-justify">



   <h2 class="font-bold"> Contributeurs :</h2><br>
    
    Alexandre Guedes<br>
    Arnaud Royer<br>
    Nicolas Thieblemont<br>
    Steven Le Cam<br><br>
    <h2 class="font-bold" >Propriété intellectuelle :</h2><br>
    
    Tous les contenus présents sur ce site, tels que les textes, les images, les vidéos, les logos et les graphiques, sont la propriété intellectuelle exclusive des contributeurs mentionnés ci-dessus, à moins qu'il n'en soit spécifié autrement. Ces contenus sont protégés par les lois nationales et internationales sur les droits d'auteur, les marques commerciales et autres droits de propriété intellectuelle.
    <br><br>
    Aucune partie de ce site ne peut être reproduite, distribuée, transmise, diffusée, affichée, publiée ou exploitée de quelque manière que ce soit, sans l'autorisation préalable écrite des contributeurs.
    <br><br>
    <h2 class="font-bold">Responsabilité :
    </h2>
    <br>
    Les contributeurs de cette application s'efforcent de fournir des informations précises et à jour sur ce site, mais ils ne peuvent garantir l'exactitude, l'exhaustivité ou la pertinence des informations fournies. En conséquence, les contributeurs ne seront pas tenus responsables des dommages directs ou indirects résultant de l'utilisation ou de l'incapacité à utiliser ce site ou de son contenu.
    <br><br>
    <h2 class="font-bold">Données personnelles :</h2>
    
    Ce site collecte et traite certaines données personnelles conformément aux dispositions du Règlement Général sur la Protection des Données (RGPD). Les données personnelles collectées sont utilisées uniquement dans le but spécifique pour lequel elles ont été fournies et sont protégées contre tout accès non autorisé.
    <br><br>
    Consultez notre <a class="text-bold text-orange-700" href="/confidentialite">politique de confidentialité</a> pour plus d'informations sur la collecte, l'utilisation et la protection de vos données personnelles.
    <br><br>
   <h2 class="font-bold"> Cookies :</h2><br>
    
    Ce site utilise des cookies pour améliorer l'expérience de navigation de ses utilisateurs. Les cookies sont de petits fichiers texte placés sur votre appareil pour recueillir des informations standard de journal Internet et des informations comportementales. Ces informations sont utilisées pour suivre les habitudes de navigation des utilisateurs et pour fournir des fonctionnalités améliorées. En continuant à utiliser ce site, vous consentez à notre utilisation de cookies conformément à notre politique en matière de cookies.
    <br><br>
    Assurez-vous d'adapter ces mentions légales en fonction des spécificités de votre application et des exigences légales de votre région.
    



</div>
<app-footer></app-footer>
